* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.6;
}

#root {
  min-height: 100vh;
}

/* react-resizable 样式优化 */
.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  top: 0;
  width: 10px;
  cursor: col-resize;
  z-index: 1;
  background: transparent;
  transition: background 0.2s;
}

.react-resizable-handle:hover {
  background: #1890ff;
  opacity: 0.3;
}

.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}


  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.6;
}

#root {
  min-height: 100vh;
}

/* react-resizable 样式优化 */
.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  top: 0;
  width: 10px;
  cursor: col-resize;
  z-index: 1;
  background: transparent;
  transition: background 0.2s;
}

.react-resizable-handle:hover {
  background: #1890ff;
  opacity: 0.3;
}

.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}

